*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', 'sans-serif';
    box-sizing: border-box;
}

.hero{
    height: auto;
    width: auto;
    background-image: url(./main1.jpg);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: #f9004d;
}

nav ul li{
    list-style-type: none;
    display: inline;
    padding: 10px 25px;

}

nav ul li a{
    color: rgb(243, 35, 35);
    text-decoration: none;
    font-weight:bold;
    text-transform: capitalize;
    padding: auto;
}

nav ul li a:hover{
    color: #f9004d;
    transition: .6s;
    font-size: 15px;
}

.btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: auto;
    padding: 10px 20px;
    border-radius: 25px;
    transition: transform .4s ;
}

.btn:hover{
    transform: scale(1.15);
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

.newslatter form{
    width: auto;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding:14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}

.newslatter .button:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 10px #000, 0px 0px 20px #858585;
    top: 4px;
    right: 4px;
}

.abaut{
    width: auto;
    padding: 100px 0px;
    background-color: #191919;
}
.abaut-text{
    width: auto;
    text-align: center;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.abaut-text h1{
    color: rgb(252, 51, 51);
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
    
}

.abaut-text h5{
    color: rgb(255, 0, 0);
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span{
    color: #fd2167;
}

.abaut-text .box p{
    color: rgba(255, 19, 19, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background: transparent;
    border: 3px solid #f9004d;
    cursor: pointer;
}

.bars{
    background-repeat: no-repeat;
    background-size: contain;    
    width: 50px;
    height: 30px;
}

.user{
    background-repeat: no-repeat;
    background-size: contain;    
    width: 50px;
    height: 30px;
}

.bell{
    background-repeat: no-repeat;
    background-size: contain;    
    width: 50px;
    height: 30px;
}

.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: white;
    font-size: 75px;
    width: auto;
    margin: 30px auto;
    text-align:center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: auto;
    width: 335px;
    padding: 20px 35px;
    background: #252424;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: left;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #ffffff;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 19px;
    border-radius: 30px;
    transition: .4s;
    text-align: left;
}

.card .button:hover{
    background: transparent;
    border: 3px solid #f9004d;
    cursor: pointer;   
}

.contct-me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contct-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contct-me .button-two{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.contct-me .button-two:hover{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;   
}

.read-more .button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
